@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");

$ff-primary: "Poppins", sans-serif;
$ff-secundary: "Lora", serif;


$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;