$color-blue-100: hsl(195, 100%, 30%);
$color-blue-200: #18334e;
$color-blue-300: hsl(210, 24%, 15%);
$gradient-color: linear-gradient(90deg,
                  hsl(210, 55%, 20%),
                  hsl(192, 62%, 25%));
$color-white-100: #fff;
$color-white-200: #cddded;
$color-body: hsl(210, 55%, 85%);